<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/base.css}">

    <style>
        html {
            --box-h: 450px;
        }
    </style>
</head>

<body class="d-flex flex-column justify-content-start align-items-center gap-3">
<div th:replace="~{base :: header}" class="container"></div>

<div class="box">
    <form action="#" th:action="@{'/event-place/' + ${event_id} + '/save'}" th:object="${eventPlace}"
          method="post" class="form">
        <input type="text" th:field="*{id}" hidden required readonly>
        <input type="text" th:field="*{event.id}" hidden required readonly>

        <div class="inputs">
            <div class="inputBox">
                <input type="text" th:field="*{eventDate}" required
                       pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}" maxlength="19"
                       onfocus="(this.classList.add('active'))"
                       onblur="if (!this.value) this.classList.remove('active')">
                <span>Дата</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input type="text" class="active" th:field="*{duration}"
                       pattern="(\d{2}:\d{2}:\d{2}|)" maxlength="8"
                       onfocus="(this.classList.add('active'))"
                       onblur="if (!this.value) this.classList.remove('active')">
                <span>Длительность</span>
                <i></i>
            </div>

            <div class="dropdownBox full">
                <select name="sportType" th:field="*{placeSportType.id}" required>
                    <option th:each="placeSportType : ${placeSportTypes}" th:value="${placeSportType.id}"
                            th:text="${placeSportType.toString()}">
                    </option>
                </select>
                <span>Спортивное место</span>
            </div>
        </div>

        <div th:replace="~{base :: edit_buttons ('/event-place/' + ${event_id})}"></div>

        <br>
        <p>Дату вводить в формате YYYY-MM-dd HH:mm:ss</p>
        <p>Длительность вводить в формате HH:mm:ss</p>
    </form>
</div>

</body>

<script>
    let active = document.getElementsByClassName('active');
    let i = 0;
    while (i < active.length) {
        if (active[i].value == "")
            active[i].classList.remove('active');
        else
            i += 1;
    }
</script>

</html>