<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<div th:fragment="header" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-2 mb-2 mb-md-0">
            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link text-decoration-none text-light"><b>Привет,
                <span th:text="${#authentication.name}"></span></b></a>

            <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')"
               class="nav-link text-decoration-none text-light"><b>Привет, гость</b></a>

            <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="/login" class="btn btn-outline-primary">Войти</a>
            <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="/registration" class="btn btn-primary">Регистрация</a>

            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="/logout" class="btn btn-outline-primary">Выйти</a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/" class="nav-link px-2">Главная</a>
            </li>
            <li>
                <a href="/sport-type" class="nav-link px-2">Виды спорта</a>
            </li>
            <li>
                <a href="/helpful-type" class="nav-link px-2">Полезные категории</a>
            </li>
            <li>
                <a href="/place" class="nav-link px-2">Объекты</a>
            </li>
            <li>
                <a href="/position" class="nav-link px-2">Распределение мест</a>
            </li>
            <li>
                <a href="/event" class="nav-link px-2">События</a>
            </li>
            <li>
                <a href="/team" class="nav-link px-2">Команды</a>
            </li>
            <li>
                <a href="/user" class="nav-link px-2">Пользователи</a>
            </li>
        </ul>
    </header>
</div>

<div th:fragment="search (link, searchKeyword)" class="row d-flex justify-content-center align-items-center mb-3">
    <h5 class="text-center">Поиск по любому критерию:</h5>
    <form th:action="${link}" class="d-flex justify-content-center align-items-center gap-3">
        <input type="text" class="text-black" name="searchKeyword" id="searchKeyword" size="30"
               th:value="${searchKeyword}" required/>
        <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
        <a th:href="${link}" class="btn btn-danger btn-sm">Очистить</a>
    </form>
</div>

<div th:fragment="row_count" class="row">
    <p class="text-white fw-bold row-count"></p>
</div>

<div th:fragment="admin_actions (create_link)" class="d-flex justify-content-center align-items-center gap-3 mb-3">
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${create_link}" class="btn btn-primary btn-sm">Добавить запись</a>
</div>

<div th:fragment="edit_buttons (back_link)" class="buttons d-flex justify-content-between align-items-center">
    <a th:href="${back_link}" class="button btn-primary text-decoration-none back">Назад</a>
    <input type="submit" value="Сохранить" class="go" autocomplete="off">
</div>

</html>