<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head th:insert="~{base :: html_head_p (~{::link})}">
    <link rel="stylesheet" th:href="@{/css/place/place-edit.css}">
</head>

<body class="d-flex flex-column justify-content-center align-items-center gap-3">
<div th:replace="~{base :: header}" class="container">
</div>

<div class="box">
    <form action="#" th:action="@{/place/save}" th:object="${obj}" method="post" class="form">
        <h2>Редактирование</h2>

        <div class="inputs">
            <div class="inputBox">
                <input type="text" class="active" th:field="*{id}" tabindex="1" readonly>
                <span>ID</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input type="text" th:field="*{name}" tabindex="2" required>
                <span>Название</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input type="text" th:field="*{location}" tabindex="3" required>
                <span>Координаты</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input type="text" th:field="*{description}" tabindex="4" onfocus="(this.classList.add('active'))"
                       onblur="if(!this.value) this.classList.remove('active')">
                <span>Описание</span>
                <i></i>
            </div>
        </div>

        <div th:replace="~{base :: edit_buttons ('/place')}"></div>
    </form>
</div>

</body>

</html>