@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", monospace;
  color: #FFF;
}

html {
  --box-h: 400px;
}

body {
  background: #23242A;
}

.nav a {
  cursor: pointer;
}

.box {
  position: relative;
  width: 700px;
  height: var(--box-h);
  background: #1C1C1C;
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 700px;
  height: var(--box-h);
  background: linear-gradient(0deg, transparent, #45F3FF, #45F3FF);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  rotate: 180deg;
  width: 700px;
  height: var(--box-h);
  background: linear-gradient(0deg, transparent, #45F3FF, #45F3FF);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box .form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292D;
  z-index: 10;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box .form h2 {
  color: #45F3FF;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.box .form .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box .form .inputs .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.box .form .inputs .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242A;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.box .form .inputs .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0 10px;
  font-size: 1em;
  color: #8F8F8F;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.box .form .inputs .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45F3FF;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.box .form .inputs .inputBox input:required:valid ~ span,
.box .form .inputs .inputBox input:required:focus ~ span {
  color: #45F3FF;
  transform: translateY(-34px);
  font-size: 0.75em;
}
.box .form .inputs .inputBox input:required:valid ~ i,
.box .form .inputs .inputBox input:required:focus ~ i {
  height: 44px;
}
.box .form .inputs .inputBox .active ~ span {
  color: #45F3FF;
  transform: translateY(-34px);
  font-size: 0.75em;
}
.box .form .inputs .inputBox .active ~ i {
  height: 44px;
}
.box .form .dropdownBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.box .form .dropdownBox select {
  position: relative;
  width: 100%;
  padding: 0 10px;
  background: #45F3FF;
  border: none;
  outline: none;
  color: #23242A;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
  border-radius: 4px;
  margin-top: 10px;
  height: 44px;
}
.box .form .dropdownBox select option {
  color: #000;
}
.box .form .dropdownBox span {
  position: absolute;
  left: 0;
  padding: 20px 0 10px;
  font-size: 0.75em;
  color: #45F3FF;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(-34px);
}
.box .form .buttons input {
  border: none;
  outline: none;
  background: #45F3FF;
  padding: 11px 25px;
  width: 250px;
  margin-top: 30px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
}
.box .form .buttons input:active {
  opacity: 0.8;
}
.box .form .buttons .back {
  padding: 11px 25px;
  width: 250px;
  margin-top: 30px;
  border-radius: 4px;
  font-weight: 600;
  color: #000;
  background: #dc3b3b;
  text-align: center;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=base.css.map */
