<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head th:replace="~{base :: html_head}"></head>

<body class="d-flex flex-column justify-content-center align-items-center gap-3">
<div th:replace="~{base :: header}"></div>

<div class="container">
    <div th:replace="~{base :: search ('/event', ${searchKeyword})}"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{base :: admin_action ('/event/create')}"></div>

    <div class="row d-flex flex-column justify-content-center gap-2">
        <div class="row">
            <p class="text-white fw-bold row-count"></p>
        </div>

        <table id="1" class="table table-hover table-sm text-white">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Обновлено</th>
                <th scope="col">Отменено</th>
                <th scope="col">Начало</th>
                <th scope="col">Окончание</th>
                <th scope="col">Описание</th>
                <td></td>
            </tr>

            <tr>
                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm sort" value="SORT"/>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr class="table-tr" th:each="obj: ${List}">
                <th scope="row" class="table-th text-white" th:text="${obj.id}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.name}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.createDate}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.updateDate}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.cancelDate}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.startDate}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.endDate}">отстутсвует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.description}">отстутсвует</th>
                <td>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/event-place/'+${obj.id}}">
                        <button type="button" class="btn btn-info">Управление местами</button>
                    </a>
                    <br>
                    <br>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/event/edit/'+${obj.id}}">
                        <button type="button" class="btn btn-warning">Редактировать</button>
                    </a>

                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/event/delete/'+${obj.id}}">
                        <button type="button" class="btn btn-danger">Удалить</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <div class="container">
            <canvas id="dates" width="600" height="400"></canvas>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <div class="container">
            <canvas id="sport-types" width="600" height="400"></canvas>
        </div>
    </div>
</div>

</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
<script>
    new Tablesort(document.getElementById('1'));
</script>

<script type="text/javascript">
    let table = document.getElementById('1')
    let tBody = table.querySelector('tbody')
    const count = tBody.querySelectorAll('tr').length;
    document.querySelector('.row-count').innerHTML = 'Количество событий: ' + count;
</script>

<script th:inline="javascript">
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }

    labels = []
    data = []
    let tr = document.getElementsByClassName('table-tr');
    for (let i = 0; i < tr.length; i++) {
        let t = tr[i].getElementsByClassName('table-th')[2].textContent.split(' ')[0];

        if (!labels.includes(t)) {
            let ind = Math.max(labels.length, 0);
            labels[ind] = t;
            data[ind] = 1;
        } else {
            let ind = labels.indexOf(t);
            data[ind] += 1;
        }
    }

    let colors = [];
    for (let i = 0; i < labels.length; i++) {
        let temp = 'rgb(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ')';
        while (colors.includes(temp)) {
            temp = 'rgb(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ')';
        }

        colors[i] = temp;
    }

    let dataset = {
        label: 'Количество команд',
        data: data,
        backgroundColor: colors,
        borderWidth: 1,
    }

    Chart.defaults.global.defaultFontColor = 'white';

    let ctx = document.getElementById('dates').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [dataset],
        },
        options: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Количество команд по дате создания',
                position: 'top',
                fontSize: 24,
                padding: 20,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Количество команд',
                        fontSize: 18,
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Дата',
                        fontSize: 18,
                    },
                }],
            },
        },
    });
</script>

<script th:inline="javascript">
    labels = []
    data = []
    tr = document.getElementsByClassName('table-tr');
    for (let i = 0; i < tr.length; i++) {
        let t = tr[i].getElementsByClassName('table-th')[3].textContent.split(' ')[0];

        if (!labels.includes(t)) {
            let ind = Math.max(labels.length, 0);
            labels[ind] = t;
            data[ind] = 1;
        } else {
            let ind = labels.indexOf(t);
            data[ind] += 1;
        }
    }

    colors = [];
    for (let i = 0; i < labels.length; i++) {
        let temp = 'rgb(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ')';
        while (colors.includes(temp)) {
            temp = 'rgb(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ')';
        }

        colors[i] = temp;
    }

    dataset = {
        label: 'Количество команд',
        data: data,
        backgroundColor: colors,
        borderWidth: 1,
    }

    Chart.defaults.global.defaultFontColor = 'white';

    ctx = document.getElementById('sport-types').getContext('2d');
    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [dataset],
        },
        options: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Количество команд по виду спорта',
                position: 'top',
                fontSize: 24,
                padding: 20,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Количество команд',
                        fontSize: 18,
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Вид спорта',
                        fontSize: 18,
                    },
                }],
            },
        },
    });
</script>

</html>